ion-img {
    image-rendering: pixelated;
    max-width: 200px;
    margin: auto;
    animation: loop 0.5s infinite;
}

@keyframes loop {
    0% {
        transform:translateY(0px);
    }

    50% {
        transform:translateY(10px);
    }

    100%{
        transform:translateY(0px);
    }
}

.normal {
    background-color: #bdbdb1;
}

.grass {
    background-color: #8ad151;
}

.fire {
    background-color: #fa5542;
}

.water {
    background-color: #55aefe;
}

.fighting {
    background-color: #a55647;
}

.flying {
    background-color: #77a2fe;
}

.poison {
    background-color: #a75a9e;
}

.ground {
    background-color: #e8c75e;
}

.rock {
    background-color: #cebc72;
}

.bug {
    background-color: #c1d01d;
}

.ghost {
    background-color: #7874d2;
}

.electric {
    background-color: #f3e455;
}

.psychic {
    background-color: #f966b6;
}

.ice {
    background-color: #95f1ff;
}   

.dragon {
    background-color: #8272f9;
}

.dark {
    background-color: #876353;
}

.steel {
    background-color: #c4c2da;
}

.fairy {
    background-color: #faadff;
}

.type {
    color: white;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
}