<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="valor" placeholder="0" class="ion-text-right" ></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(7)" >7</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(8)" >8</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(9)" >9</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito('/')" >/</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(4)" >4</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(5)" >5</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(6)" >6</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito('x')" >&times;</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(1)" >1</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(2)" >2</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(3)" >3</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito('-')" >-</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito('.')" >.</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito(0)" >0</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="calcular()" >=</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="insereUmDigito('+')" >+</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="limpar()" >Limpar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
