<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div class="controls">
    <ion-text>{{ display }}</ion-text>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('7')" >7</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('8')" >8</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('9')" >9</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="medium" expand="block" (click)="insereOperador('/')" >/</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('4')" >4</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('5')" >5</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('6')" >6</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="medium" expand="block" (click)="insereOperador('x')" >x</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('1')" >1</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('2')" >2</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('3')" >3</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="medium" expand="block" (click)="insereOperador('-')" >-</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="insereUmPonto()" >.</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" expand="block" (click)="insereNumero('0')" >0</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="success" expand="block" (click)="calcular()" >=</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="medium" expand="block" (click)="insereOperador('+')" >+</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="limpar()" >
          <ion-icon name="trash-outline" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
