ion-text {
  font-size: 32px;
  width: 100%;
  font-weight: bold;
}

ion-button {
  font-size: 24px;
  font-weight: bold;
}

ion-button:active {
  animation: active 0.1s linear;
}

@keyframes active {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
