<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Qual o combustível
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img></ion-img>
    <div>
      <ion-input type="number" placeholder="Preço da Gasolina"></ion-input>
    </div>
    <div>
      <ion-input type="number" placeholder="Preço do Etanol"></ion-input>
    </div>

    <ion-button expand="block">Verificar</ion-button>
  </div>
</ion-content>
