<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Qual o combustível
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="assets/{{imagem}}"></ion-img>

    <ion-item>
      <ion-input type="number" placeholder="Preço da Gasolina" [(ngModel)]="gasolina"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Preço do Etanol" [(ngModel)]="etanol"></ion-input>
    </ion-item>

    <ion-button expand="block">Verificar</ion-button>

    <ion-img></ion-img>
  </div>
</ion-content>
