<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
   <div>
    <ion-item>
      <ion-label position="floating">
        1° Número
      </ion-label>
      <ion-input type="number" [(ngModel)]="num1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        2° Número
      </ion-label>
      <ion-input type="number" [(ngModel)]="num2"></ion-input>
    </ion-item>

    <p class="ion-text-center">{{resposta}}</p>

    <div>
      <ion-button color="warning" expand="block" (click)="somar()">Somar</ion-button>
    </div>
    <div>
      <ion-button color="danger" expand="block" (click)="subtrair()">Subtrair</ion-button>
    </div>
    <div>
      <ion-button color="dark" expand="block" (click)="multiplicar()">Multiplicação</ion-button>
    </div>
    <div>
      <ion-button color="success" expand="block" (click)="dividir()">Dividir</ion-button>
    </div>
   </div>
  </div>
</ion-content>
